@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(225, 48, 48), rgb(35, 35, 217));
}
.container{
  /* width: 60%; */
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 1px 1px 7px yellow;

}